/* by nada al kabour */

/*Box styling*/
.Big_box {

position: relative;
width: 100%;
background: transparent;
margin-bottom: 100px;

}


/*table style*/


.tableOfMixes table {
margin: 0 auto;
}



.tableOfMixes thead th {

padding-left: 50px;
padding-right:50px;
border-bottom: 1px solid #ccc;


}


.tableOfMixes table tr:hover {

background-color: #fafafa;

}





/*Buttons stylings*/

.cancel , .save, .edit, .delete , .add_to_cart  {
border-radius: 5rem;
background: white;
padding: 1em;
box-shadow: 2px 2px 2px #ccc;
}




.btns {
 margin-left: 38%;
 margin-bottom: 150px;

}

.form_btn{

  margin-left: 40%;
}


.btn {
  position: absolute;
  padding: .5rem 2.5rem;
  margin-top: 50px;
  font-size: .95rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background: #111;
  border-radius: remy(35px);
  width: 250px;

}


/*Form styling */


.form_popup  , .select_input{

  margin: 20px 0px 20px 20px;
  font-size: 14px;
  background-color: transparent;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-radius: 0;
  display: block;
  &:focus {border-color: #ccc};

}

.button_group{

margin-right: 100px;

}


/* add mix error pop up*/
.overlay_ {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}
.overlay_:target {
  visibility: visible;
  opacity: 1;
  z-index: 1;
}

.popup_warn {
  position: relative;
  padding: 30px;
  margin-top: 20%;
  margin-left: 28%;
  background: #C7FCEC;
  text-align: center;
  font-size: 12pt;
  width: 40%;
  transition: height 400ms cubic-bezier(0.72, -0.25, 0.4, 1.2);

}

.popup_edit {
  position: relative;
  padding: 20px;
  margin-top: 10%;
  margin-left: 35%;
  background: #ccc;
  font-size:20pt;
  width: 25%;
  overflow-y: auto;
  max-height:70%;
  transition: height 400ms cubic-bezier(0.72, -0.25, 0.4, 1.2);

}


.popup_rec {
  position: relative;
  padding: 5px;
  margin-top: 25%;
  margin-left: 35%;
  background: #ccc;
  font-size: 20pt;
  width: 30%;
  max-height:20%;
  transition: height 400ms cubic-bezier(0.72, -0.25, 0.4, 1.2);

}



.close_form {
color: black;
font-size: 20pt;
font-weight: bold;
margin-left: 95%;
}
